<!--<%= will_paginate @products %>-->

<h1 style="font-family: Arial Black;" class="shadow2">Listing products</h1>




<% @products.each do |product| %>	
		<div class="entry">
			<%= image_tag(product.main_image_url, class: 'list_image') %>
			<h2><a href="store/show/<%= product.product_id %>"> <%= product.main_title %> </a></h2>
			<h2><%= product.description %></h2>
			<div class="price_line">
				<span class="price"><%= number_to_currency(product.price) %></span>
			</div>
		</div>
<% end %>




<% if @users != 0 %>
   <% if @users.rank == 1 %>
      <%= link_to 'New product', new_product_path, class:"blueBtn" %>
   <% end %>
<% end %>

<p><%= will_paginate @products %></p>


