<p><%= flash[:alert] %></p>



<div id="container"><!--블로그 전체 몸통을 감싸는 레이어입니다.-->
  <div id="header">
   
  </div>
  <div id="content">
   <%= image_tag(@products.main_image_url) %>
  </div>
  <div id="sidebar">
    <h2><%= @products.main_title %></h2>
    <h3>내용: <%= @products.description %></h3>
    <h4>재고: <%= @products.stock %></h4>
    <h4>가격: <%= @products.price %></h4>
  </div>
  
</div>


<div style="border: 1px solid #ffffff">
  

  
  <%= image_tag(@products.image_url1) %>

  

  <p><a href="/">전체 리스트 가기</a></p>
</div>
