<p><%= flash[:alert] %></p>

<body>


<div id="container"><!--블로그 전체 몸통을 감싸는 레이어입니다.-->
  <div id="header">
   
  </div>
  <div id="content">
   <%= image_tag(@products.main_image_url) %>
  </div>
  <div id="sidebar">
    <h2><%= @products.main_title %></h2>
    <h3>내용: <%= @products.description %></h3>
    <h4>가격: <%= @products.price %></h4>

    <select name="Color">
	<option value="<%= @products.color1 %>"><%= @products.color1 %></option>
	<option value="<%= @products.color2 %>"><%= @products.color2 %></option>
     </select>

     <select name="Size">
	<option value="L"><%= @products.size1 %></option>
	<option value="M"><%= @products.size2 %></option>
	<option value="S"><%= @products.size3 %></option>
     </select>

     <input type="text" name = "OrderCount" placeholder="수량을 적어주세요">

    
     <%= button_to 'Add to Cart', line_items_path(product_id:@product_id),
					remote: true %>



  </div>
  
</div>


<div style="border: 1px solid #ffffff">
  

 <%= image_tag(@products.image_url1) %>


  <p><a href="/">전체 리스트 가기</a></p>
</div>

<a style="display:scroll; position:fixed; bottom:50px; right:50px;" href="#" title=Top>
<%= image_tag("top.PNG") %></a>
</body>
