<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= controller.controller_name %>">
	<div id="login">
		<% if session[:user_id] %>
			<%= button_to 'Logout', logout_path, method: :delete %>
		<% else %>
			<%= link_to 'Login', login_path %>
		<% end %>
	</div>

	<div id="banner">
		<%= image_tag("logo.gif") %>
		<%= @page_title || "KWSE cloth shop" %>
	</div>
	
	<div id="rows">
		<div id="side2">
			<% if session[:user_id] %>
				<ul>					
					<li><%= link_to 'Home', store_path %></li>
					<li><a>QA</a></li>
					<li><a>News</a></li>
					<li><a>Contact</a></li>
					<li><%= link_to 'Orders',	orders_path %></li>
					<li><%= link_to 'Proudcts', products_path %></li>
					<li><%= link_to 'Users', users_path %></li>
				
					
				</ul>
			<% else %>
				<ul>
					<li><%= link_to 'Home', store_path %></li>
					<li><a>QA</a></li>
					<li><a>News</a></li>
					<li><a>Contact</a></li>
				</ul>
					
			<% end %>
		</div>
	</div>

	<div id="columns">
		<div id="side">
			<ul>
				<li><a href="/TOP">TOP</a></li>
				<li><a href="/PANT">PANT</a></li>
				<li><a href="/ACC">ACC</a></li>
				<li><a href="/SHOES">SHOES</a></li>
			</ul>
		</div>

		<div id="main">
			<%= yield %>
		</div>
	</div>


</body>
</html>
